@model Web.Models.CurrentWeatherVm

<div class="text-white mg5 position-relative">
    <div class="row w-100" style="height: 8rem;">
        <div class="col-md-6 text-right">
            <h1 class="main-temp">@Html.DisplayFor(model => model.current.temp_c)'C</h1>
        </div>
        <div class="col-md-6 position-relative" style="padding: 1rem 0;">
            <h2 class="lh-3rm">@Html.DisplayFor(model => model.location.name)</h2>
            <h3 class="lh-3rm">@Html.DisplayFor(model => model.current.condition.text)</h3>
        </div>
    </div>
    
    <div class="forecast">
        @foreach (ForecastdayVm fd in Model.forecast.forecastday)
        {
            <div class="day">
                <h2>@fd.date: @fd.day.condition.text</h2>
                @foreach (HourVm h in fd.hour)
                {
                    <h3>@h.time: @h.temp_c - @h.condition.text</h3>
                }
            </div>
        }
    </div>
    
</div>